h1,
h2 {
  color: red;
  margin-bottom: -10px;
}
/* h2 {
  color: orange;
  margin-bottom: -10px;
} */

.cont1 p {
  margin-left: 10px;
  color: green;
  font-weight: bolder;
  font-style: italic;
  padding-top: 2px;
}
.cont2 p {
  color: purple;
  margin-left: 10px;
  font-weight: bolder;
}
h2:last-of-type {
  color: gray;
}
