:root {
  --blackgray-col: rgb(81, 81, 81);
  --backgrd-nav: rgba(222, 78, 78);
  --nav-col: #f0f0f0;
}
html {
  margin: 0px;
  padding: 0px;
}
body {
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--blackgray-col);
  margin: 0;
  padding: 0;
  z-index: -1;
  background-color: rgb(42, 39, 39);
}
.flex-nav {
  width: 100%;
  background-color: var(--backgrd-nav);
  height: 2.5rem;
  z-index: 1;
  position: fixed;
}
nav {
  width: 30%;
  height: 2.5rem;
  position: absolute;
  right: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  color: var(--nav-col);
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}
.empty {
  height: 1rem;
  width: 100vw;
}
.welcome {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, white, var(--blackgray-col));
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 0px;
  text-transform: capitalize;
}
.welcome p {
  text-align: center;
  margin-top: 0;
  font-style: oblique;
  color: var(--backgrd-nav);
  letter-spacing: 0.2em;
  font-size: large;
}
.pjts-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  padding: 1em;
  background: linear-gradient(90deg, rgb(78, 78, 105) 10%, gray);
  grid-auto-rows: minmax(150px, auto);
}

.project {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  /* justify-content: center; */
  background-color: var(--blackgray-col);
  margin: auto;
  width: 100%;
  height: 100%;
}
.pjts-wrapper a {
  width: 100%;
  /* border: 1px solid var(--blackgray-col); */
  background-color: linear-gradient(90deg, rgb(78, 78, 105) 10%, gray);
  margin: 8px auto;
  padding: 5px;
  text-decoration: none;
}
img {
  width: 50%;
  height: auto;
  margin: 10px auto;
}
.pjts-wrapper p {
  text-align: center;
  background-color: grey;
  margin: 0px;
  /* height: 3rem; */
  padding: 1rem;
  text-transform: capitalize;
  color: var(--nav-col);
}
.empty {
  height: 100%;
  width: 100%;
}
.chev-1,
.chev-2 {
  color: grey;
  /* transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s; */
}
.chev-1:hover,
.chev-2:hover {
  /* visibility: visible; */
  color: var(--backgrd-nav);
}
.pjts-wrapper p:hover {
  font-size: 1.2em;
  padding: 0.7em;
}
img:hover {
  transform: scale(1.03);
}
/* p:hover {
  color: var(--backgrd-nav);
  content: counter();
} */
/* .chev:hover {
  color: var(--backgrd-nav);
} */
.project-tile {
  margin: 5px auto;
  color: var(--nav-col);
  text-align: center;
  height: auto;
  border-bottom: 2px solid var(--nav-col);
  padding-bottom: 0.5px;
  width: fit-content;
}

.image {
  /* width: 50%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  margin-right: 0px;
  /* justify-items: left; */
  /* justify-content: center; */
}

.title-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -20px;
  width: 20%;
}
.title-img span {
  color: var(--nav-col);
}

.footer-page header {
  color: var(--nav-col);
  text-align: center;
  font-size: 2em;
  text-transform: capitalize;
}
.footer-page p {
  color: var(--backgrd-nav);
  font-size: 0.6em;
  text-align: center;
  font-style: oblique;
  letter-spacing: 0.3em;
  /* text-transform: capitalize; */
}
.footer-page li {
  list-style: none;
  margin-right: 20px;
}
.footer-page a {
  text-decoration: none;
  color: var(--nav-col);
  font-size: 0.9em;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.footer-page a:hover {
  font-size: 1.1em;
}
ul {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .footer-page a {
    font-size: 0.5em;
    /* background-color: #f0f0f0; */
  }
  .pjts-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
